<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/helper</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">3410</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="connection.release_mode">after_statement</property>
		<property name="transaction.flush_before_completion">true</property>

		<!-- Use Thread local contextual sessions -->
		<property name="hibernate.current_session_context_class">
			thread
		</property>

		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>

		<property name="hibernate.show_sql">true</property>

		<!-- Mappings -->
		<mapping class="br.com.learning.javabe.entity.Chamado" />
		<mapping class="br.com.learning.javabe.entity.Usuario" />
	</session-factory>
</hibernate-configuration>